<div
  class="mobile social-links flex items-center space-x-4 mt-4 md:mt-10 md:hidden"
>
  <!-- Link 1 -->
  <a href="#">
    <img src="svgs/icon-facebook.svg" alt="" class="h-8" />
  </a>
  <!-- Link 2 -->
  <a href="#">
    <img src="svgs/icon-youtube.svg" alt="" class="h-8" />
  </a>
  <!-- Link 3 -->
  <a href="#">
    <img src="svgs/icon-twitter.svg" alt="" class="h-8" />
  </a>
  <!-- Link 4 -->
  <a href="#">
    <img src="svgs/icon-pinterest.svg" alt="" class="h-8" />
  </a>
  <!-- Link 8 -->
  <a href="#">
    <img src="svgs/icon-instagram.svg" alt="" class="h-8" />
  </a>
</div>
