---
import NavLink from "../NavLink.astro";
---

<section id="cta" class="bg-brightRed h-auto md:h-40 p-5 flex flex-col md:flex-row items-center justify-around">
  <h2 class="text-white text-2xl text-center md:text-left md:text-3xl font-bold w-full md:w-[35%]">Simplify how your team works today.</h2>

  <div class="flex items-center justify-center my-6">
    <NavLink 
      bg="bg-white hover:bg-brightRedSupLight"
      color="text-brightRed"
      text="Get Started"
    />
  </div>
</section>