---
import { Navbar } from "../components/Navbar";
import Features from "../components/sections/Features.astro";
import Header  from "../components/sections/Header.astro";
import Info from "../components/sections/Info.astro";
import Testimonials from "../components/sections/Testimonials.astro";
import Footer from "../components/sections/Footer.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <div class="container mx-auto">
    <Navbar client:load />
    <Header />
    <Features />
  </div>
  <Testimonials />
  <Info />
  <Footer />
</Layout>
