---
const {username, testimonial, imageUrl} = Astro.props
---

<div class="card relative max-w-[300px] md:max-w-[350px] bg-veryLightGray rounded-md p-5">
	<div class="card-header flex items-center justify-center">
		<img class="w-16 h-w-16 rounded-full absolute -top-10" src={imageUrl} alt={username}>
	</div>
	<div class="card-body flex flex-col items-center justify-center">
		<h3 class="card-username font-bold text-darkBlue py-4">{username}</h3>
		<p class="card-testimonial text-center text-darkGrayishBlue text-xs">
			{testimonial}
		</p>
	</div>