---
const { id, title, description } = Astro.props
---
<div class="md:flex md:space-y-10 gap-3 mb-8 md:mb-0">
  <div class="bg-brightRedSupLight md:bg-transparent p-1 rounded-full flex items-center gap-3">
    <span class="bg-brightRed rounded-full px-6 py-2 text-white font-bold md:self-start md:mt-4">
      {`0${id}`}
    </span>
    <h3 class="md:hidden block  font-bold text-darkBlue">
      {title}
    </h3>
  </div>
  <div >
    <h3 class="md:block hidden md:mb-5 md:-mt-4 font-bold text-darkBlue">
      {title}
    </h3>
    <p class="text-darkGrayishBlue leading-7 p-4 md:p-0">
      {description}
    </p>
  </div>
</div>